# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Project Specific (Data and large files)
Data/
*.csv
*.xlsx
*.pkl
*.joblib
*.h5
